{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Chào mừng đến với trang quản trị</h1>
    <p class="lead">Chọn một menu để bắt đầu quản lý hệ thống.</p>
    <hr class="my-4">
    <p>Sử dụng các liên kết trên thanh điều hướng để quản lý người dùng, nhóm và tài liệu.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('admin.add_user') }}" role="button">Thêm người dùng thủ công</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('admin.upload_users') }}" role="button">Thêm người dùng bằng Excel</a>
</div>
{% endblock %}