{% extends 'base.html' %}

{% block content %}
<div class="card mt-4">
    <div class="card-header">
        <h2>Thêm người dùng bằng Excel</h2>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.file.label(class="form-label") }}
                {{ form.file(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}